 #ignore build files
 examples/
 !examples/JoystickList/JoystickList.pro
 !examples/JoystickList/main.cpp
 !examples/JoystickList/main.qml
 !examples/JoystickList/qml.qrc
 !examples/JoystickList/JoystickList.pro